* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
  margin: 0;
  background-color: #073b4c;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.workstation {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #06d6a0;
  height: 800px;
  width: 700px;
}

.monitor {
  position: relative;
  height: 300px;
  width: 400px;
  background-color: black;
}

.screen {
  position: absolute;
  background-color: blue;
  height: 275px;
  width: 375px;
  z-index: 2;
  margin-top: 13px;
}

img {
  position: absolute;
  height: 275px;
  width: 375px;
  margin-top: 13px;
}

.stand-pole {
  position: absolute;
  background-color: black;
  height: 150px;
  width: 20px;
  margin-top: 300px;
}

.stand-base {
  position: absolute;
  background-color: black;
  height: 25px;
  width: 300px;
  margin-top: 450px;
}

.accessories-container {
  position: absolute;
  display: flex;
  justify-content: center;
}

.keyboard  {
  position: absolute;
  background-color: black;
  height: 155px;
  width: 375px;
  margin-top: 550px;
  margin-right: 150px;
}

.keyboard-row{ 
  text-align: center;
}

.keyboard-key {
  display: inline-block;
  background-color: gray;
  border: 1px solid white;
  padding:6px;
  margin-top: 5px;
}

#space-key {
  width: 40%;
}

.mouse {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: black;
  margin-top: 600px;
  margin-left: 400px;
  height: 100px;
  width: 80px;
  border-radius: 50%;
}

.scroll-wheel {
  position: absolute;
  background-color: white;
  width: 12px;
  height: 20px;
  margin-top: 10px;
  border: 1px solid black;
  z-index: 2;
}

.clicker-divider {
  position: absolute;
  background-color: white;
  width: 4px;
  height: 50px;
}

h2 {
  color: white;
}

form {
  color: #06d6a0;
}

@media screen and (min-width: 1024px) {
  .container {
    background-color: yellow;
  } 
  h2 {
    color: black;
  }
  form {
    color: black;
  }
}

@media screen and (min-width: 1680px) {
  .container {
    background-color: red;
  } 
  h2 {
    color: white;
  }
  form {
    color: white;
  }
}

@media screen and (min-width: 480px) {
  img {
    z-index: 3;
  } 
}